<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="bluetree-data-xml">
            <file>tests/XmlTest.php</file>
        </testsuite>
        <testsuite name="bluetree-data-math">
            <file>tests/MathTest.php</file>
            <file>tests/FormatsTest.php</file>
        </testsuite>
        <testsuite name="bluetree-data-validator">
            <file>tests/ValidatorTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
